.contacts-list__item{
    width: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    -webkit-box-shadow: 0px 4px 5px 0px #000000; 
    box-shadow: 0px 4px 5px 0px #000000;

    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .contacts-list__item-btn {
        text-align: center;
        background-color: #ff4500;
        &:hover{
            background-color: #ca3b06;
        } 
    }
}

.contacts-list__item-text{
    display: block;
    font-size: 20px;
}

.contacts-list__item-btn {
    text-align: center;
}